@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-white antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply tracking-tight font-bold;
}

.glass-panel {
  @apply bg-slate-900 border border-slate-800 rounded-xl shadow-xl backdrop-blur-md;
}
