@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* BACKGROUND IS NOW WHITE */
  --background: #ffffff;
  /* TEXT IS NOW DARK GRAY (Not pure black, looks softer) */
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}